body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #130939;
    color: white;
    margin: 0;

}

.linklista {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    background: transparent;
    font-size: 1em;
}

.linkassist {
    position: absolute;
    top: 0;
    right: 100px;
    margin: 20px;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    background: transparent;
    font-size: 1em;
}