<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% block page_css %}{% endblock %}
    <title>{% block title %}The Catalog{% endblock %}</title>
</head>
<body>
    <a class="linklista" href="{{ url_for('minha_lista') }}" target="_self">
        Minha Lista </a>
    <a class="linkassist" href="{{ url_for('assistidos') }}" target="_self">
        Assistidos </a>
    {% block content %}{% endblock %}
</body>
</html>
