{% extends "base.html" %}

{% block title %}The Catalog{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='GetItPretty.css') }}">
{% endblock %}

{% block content %}
<h1>The Catalog</h1>
<form method="get" action="/" class="search-container">
    <input type="search" name="q" placeholder="Search for a movie" value="{{ q or '' }}">
</form>
<section class="results"></section>
<script src="{{ url_for('static', filename='JS.js') }}"></script>
{% endblock %}
